@import url("fonts/oswald-font.css");
@import url("fonts/roboto-font.css");

/** Colors
Main color: #FFFFFF (white)
Secondary color: #D8D8D8
Third color: #BABABA

Main green: #1AD14D
Second green: #25B45E
Third green: #1FA144

Main text color: #000000 (black)
Secondary text color: #FFFFFF (white)
**/

* { margin: 0; }

body {
    color: black;
    font-family: "Roboto";
    font-size: 30px;
    background-color: #BABABA;
}

a {
    color: black;
    text-decoration: none;
}
a.select { text-decoration: underline;}

p { text-indent: 40px; }
.p-space { padding-bottom: 25px; }

.white { color: white; }

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: 
        url("img/wloppy-default.svg")
        url("img/wloppy-blink.svg")
        url("img/wloppy-mouth-open.svg")
        url("img/logo-1C-inverted.svg");
}


h1, h2, h3 { font-weight: normal; }

h3, .caption-small {
    font-family: 'Oswald';
    font-size: 40px;
}

h2, .caption-mid {
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 54px;
}

h1, .caption-large {
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 78px;
}


/** HEADER **/

#logo-wloopy {
    padding: 10px 8px;

    height: 70px;
    width: 250px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: left;

    background: linear-gradient(135deg, #25B45E 0%, #25B45E 15%, #31D874 30%, #2CAC60 75%, #208A4B 100%);
    border-radius: 20px;
}

#wloppy {
    width: 127px;
    height: 68px;
    background-image: url("img/wloppy-default.svg");
    background-size: 127px 68px;
    animation: wloppy-blinking 5s linear normal infinite;
}

#wloppy:hover {
    animation: wloppy-m-open 1s linear normal infinite;
}

@keyframes wloppy-blinking {
    0% { background-image: url("img/wloppy-default.svg"); }
    49.9% { background-image: url("img/wloppy-default.svg"); }
    50% { background-image: url("img/wloppy-blink.svg"); }
    52.5% { background-image: url("img/wloppy-blink.svg"); }
    52.6% { background-image: url("img/wloppy-default.svg"); }
    100% { background-image: url("img/wloppy-default.svg"); }
}

@keyframes wloppy-m-open {
    from { background-image: url("img/wloppy-mouth-open.svg"); }
    to { background-image: url("img/wloppy-mouth-open.svg"); }
}

#logo-text {
    padding-left: 2px;
    bottom: 8px;
    right: 24px;
    position: absolute;
}



#header-nav {
    margin-right: 40px;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    list-style-type: none;
}



#header-nav li {
    padding: 15px 20px;
    float: left;
}

#header-nav li a {
    text-decoration: none;
    transition: 0.16s ease-in;
}
#header-nav li a:hover { 
    color: #25B45E;
    text-shadow: 0px 0px 2px #1AD14D;
}

#header-nav li a.button-header {
    padding: 10px 20px;
    background: linear-gradient(180deg, #2AE45E 8%, #1AD14D 60%, #18CE4B 85%, #17AB40 100%);
    border-radius: 15px;
    color: white;
}
#header-nav li a.button-header:hover {
    box-shadow: 0px 0px 5px #1AD14D;
    color: white;
}


.center { text-align: center; }

.display-list li { display: list-item; }

header {
    padding: 20px 25px;
    height: 110px;
    position: relative;

    background: linear-gradient(180deg, #D8D8D8 0%, #E2E2E2 20%, #D8D8D8 60%, #EDEAEA 90%, #BABABA 100%);
    border-bottom: #BABABA solid 4px;
}

/** NAVIGATION **/
nav {
    margin-top: 0;
    padding: 30px;
    width: 380px;
    height: 100%;
    min-height: 400px;
    float: left;

    background: linear-gradient(-90deg, #D1D1D1 0%, #D3D2D2 20%, #CACACA 40%, #D8D8D8 70%, #D9D4D4 85%, #BABABA 100%);
    border: 8px solid #BABABA;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 50px;
}

#nav-list {
    padding-top: 20px;
}
#nav-list li a {
    margin-bottom: 4px;
    padding: 6px;
}
#nav-list li a:hover {
    background-color: #E9E9E9;
    border-radius: 15px;
}

.nav-sub-list {
    padding-top: 5px;
    font-size: 25px;
}
.nav-sub-list * { padding-bottom: 4px; }

/** MAIN **/

main {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: white;
}

.nav-main {
    min-height: 800px;
    padding-top: 0;
}

.container {
    margin: 0 auto;
    min-width: 800px;
    max-width: 1000px;
}

.container * { 
    display: block;
    margin: 0 auto;
}

.backplate { 
    margin: 0 auto;
    display: block;
}


.backplate * { display: block; }
.backplate b, .backplate i, .backplate u { display: inline-block; }
.backplate h1, .backplate h2, .backplate h3 { display: block; }
.backplate .display-list { display: block; }

.backplate .img-center {
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
}

#info {
    margin-bottom: 10%;
    width: 950px;
    height: 465px;
    position: relative;
}

#info * { 
    margin: 10px 20px;
}


.backpanel {
    padding: 15px;
    width: 400px;
    height: 400px;

    float: right;

    border-radius: 30px;
    background: linear-gradient(135deg, #D8D8D8 8%, #F1F1F1 24%, #D8D8D8 65%, #D8D8D8 80%, #C5C5C5 90%, #BABABA 100%);
    border: #BABABA solid 8px;
}

.cont-nav {
    margin-top: 0;
    margin-left: 480px;
    padding-top: 16px;
    min-width: 100px;
    max-width: none;
}

.backplate {
    margin: 0 auto 16px;
    padding: 35px;
    width: auto;
    max-width: 1000px;

    height: 100%;
    min-height: 200px;
    
    border-radius: 30px;
    background: linear-gradient(135deg, #D8D8D8 8%, #F1F1F1 24%, #D8D8D8 65%, #D8D8D8 80%, #C5C5C5 90%, #BABABA 100%);
    border: #BABABA solid 8px;
}

.backplate h1, .backplate h2, .backplate h3 {
    padding: 20px 0 10px;
}
.caption-in-text {
    padding: 0;
    text-indent: 40px;
}

.button {
    padding: 12px 20px;
    width: auto;
    display: block;

    background: linear-gradient(180deg, #2AE45E 8%, #1AD14D 60%, #18CE4B 85%, #17AB40 100%);
    border-radius: 15px;
    color: white;
    text-align: center;

    transition: 0.16s ease-in-out;
}

.button:hover {
    background: none;
    background-color: #D8D8D8;
    outline: 8px solid #1AD14D;
    color: black;
}

a.button-right {
    margin: 20px 0 10px auto;
    width: 350px;
    display: block;
}

#wloppy-present {
    width: 450px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#category { width: 840px; }

.category-item {
    margin: 35px auto;
    padding: 1.5%;
    width: 790px;
    height: 175px;

    background: linear-gradient(135deg, #A1A1A1 20%, #8F8F8F 45%, #8F8F8F 55%, #A1A1A1 65%, #A1A1A1 70%, #747474 80%, #747474 100%);
    background-repeat: no-repeat;
    background-color: #A1A1A1;
    background-position-x: 40px;
    border: #747474 solid 15px;
    border-radius: 30px;

    transition: 0.2s ease-in-out;
}

.category-item:hover {
    border-color: #5F5F5F;
    box-shadow: 0px 0px 15px #A1A1A1;
}


.category-item.actived, .nav-item.actived {
    background: linear-gradient(135deg, #1AD14D 20%, #25B45E 45%, #25B45E 55%, #1AD14D 65%, #1AD14D 70%, #25B45E 80%, #25B45E 100%);
    background-repeat: no-repeat;
    background-color: #1AD14D;
    border-color: #25B45E;

    transition: 0.2s ease-in-out;
}

.category-item.actived:hover {
    border-color: #1FA144;
    box-shadow: 0px 0px 15px #1AD14D;
}


.category-item.process, .nav-item.process {
    background: linear-gradient(135deg, #ECD615 20%, #D3C015 45%, #D3C015 55%, #ECD615 65%, #ECD615 70%, #CDB11B 80%, #CDB11B 100%);
    background-repeat: no-repeat;
    background-color: #ECD615;
    border-color: #CDB11B;

    transition: 0.2s ease-in-out;
}

.category-item.process:hover {
    border-color: #AD9717;
    box-shadow: 0px 0px 15px #ECD615;
}

.nav-item {
    padding: 1.5%;
    width: 360px;
    height: 110px;

    background: linear-gradient(135deg, #A1A1A1 20%, #8F8F8F 45%, #8F8F8F 55%, #A1A1A1 65%, #A1A1A1 70%, #747474 80%, #747474 100%);
    background-repeat: no-repeat;
    background-color: #A1A1A1;
    background-position-x: 40px;
    border: #747474 solid 5px;
    border-radius: 30px;
}

.nav-item-icon {
    margin: 10px;
    width: 90px;
    height: 90px;
    float: left;
    background-size: 90px 90px;
}

.item-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.item-container.text-scale-down * { font-size: 30px; }

.category-item img {
    padding: 8px 10px;
    width: 160px;
    float: left;
}

.item-icon {
    margin: 10px;
    width: 160px;
    height: 160px;
    float: left;
    background-size: 160px 160px;
}

.IC-Logo {
    background-image: url("img/logo-1C.svg");
    transition: 0.25s ease-in;
}
.category-item:hover .IC-Logo {
    background-image: url("img/logo-1C-inverted.svg");
}

.Blender-Logo { background-image: url("img/logo-blender.svg"); }

.Unknown-Logo { background-image: url("img/logo-unknown.svg"); }

.abb-list {
    margin-left: 10%;
}
/** FOOTER **/

footer {
    padding: 20px;
    height: 250px;
    position: relative;
    background: linear-gradient(180deg, #EDEAEA 0%, #DDDADA 20%, #DFDFDF 50%, #D8D8D8 80%, #BABABA 100%);
    border-top: 5px solid #EFEFEF;
}

#contact {
    margin-top: 30px; 
    float: left;
    list-style-type: none;
}
#contact li { padding-bottom: 5px; }

#utils { 
    margin-right: 40px;
    float: right;
}
#utils * { margin: 0 auto; }

#utils-icons { width: 225px; }
#utils-icons * { width: 100px; }

#copyright {
    width: 95%;
    bottom: 30px;
    position: absolute;
    text-align: center;
}

@media screen and (max-width: 950px) {
    body {
        font-size: 24px;
    }

    #logo-wloopy {
        padding: 6px;
        width: 215px;
        height: 60px;
    }
    #wloppy {
        width: 120px;
        height: 60px;
        background-size: 120px 60px;
    }

    #logo-text { bottom: 10px; }
    #header-nav { margin-right: 10px; }

    #nav { margin-right: 10px; }

    h3, .caption-small { font-size: 35px; }
    h2, .caption-mid { font-size: 40px; }
    h1, .caption-large { font-size: 50px; }

    header { height: 80px; }

    .container { min-width: 0; }
    .cont-nav { 
        margin-left: 0;
        padding-top: 0;
    }

    #wloppy-present { 
        position: relative;
        top: auto;
        transform: translateY(0);
    }
    .backpanel { height: 240px; }

    #info { width: 100%; height: auto; }
    #info * { 
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #category { width: auto; }
    #category { font-size: 20px; }
    #category h2 { font-size: 26px; }
    .category-item {
        max-width: 700px;
        width: 80%;
        border-radius: 24px;
    }

    footer { height: 340px; }

    #contact, #utils {
        margin: 0 auto;
        width: auto; 
        float: none;
    }

    nav {
        margin-right: 30px;
        width: 40%;
        min-width: 325px;
        min-height: 200px;
    }
    .nav-item { width: auto; }
    .nav-sub-list { font-size: 20px; }

    .backplate { 
        padding-top: 20px;
        border-top: none;
    }

    a.button-right { width: 290px; }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    #logo-wloopy {
        width: 100px;
        height: 50px;
    }
    #wloppy {
        width: 100px;
        height: 50px;
        background-size: 100px 50px;
    }

    #logo-text { display: none; }
    #header-nav { margin-right: 10px; }
    #header-nav li { padding: 12px; }

    h3, .caption-small { font-size: 20px; }
    h2, .caption-mid { font-size: 25px; }
    h1, .caption-large { font-size: 30px; }

    .item-container.text-scale-down * { font-size: 18px; }

    p { text-indent: 20px; }

    header { height: 60px; }

    nav { float: none; }

    .cont-nav { padding-top: 15px; }

    #wloppy-present { width: 75%; }
    .backpanel { 
        width: 80%;
        height: 40%;
    }

    #info { margin-bottom: 100px; }

    #category { font-size: 12px; }
    #category h2 { font-size: 14px; }

    .category-item {
        padding: 5px;
        margin: 15px auto;
        width: 80%;
        height: 120px;
        border-radius: 16px;
    }

    .item-icon {
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }

    footer { height: 210px; }

    #utils-icons { width: 130px; }
    #utils-icons * { width: 60px; }

    nav {
        margin-right: 0;
        min-width: 0;
        width: auto;
        min-height: 50px;
        border-right: none;
        border-bottom-left-radius: 50px;
    }

    .nav-item { width: auto; }
    .nav-sub-list { font-size: 15px; }

    .backplate {
        width: auto;
        min-height: none;
        border-top: 8px solid #BABABA;
    }

    a.button-right {
        width: 205px;
        margin-right: auto;
    }
}