
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('oswald/Oswald-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('oswald/Oswald-Medium.ttf') format('truetype');
}
